div.auth-attention.banner
  span(l10n) Your ZXCoin account is not active. To activate it, you'll need to send at least 20 ZXC to ({{address}}).
  br
  a(href="#/activate/{{address}}", l10n) Click to activate for free
